.logout{
    float: right;
    margin-top: 17px;
    margin-right: 38px;
    font-size: 15px;
}
.perfil{
    float: right;

}

.perfil>span{
    float: right;
    font-weight: 500;
    margin-top: 17px;
    margin-right: 38px;
    font-size: 18px;
}
.content-video{
    display: grid;
    grid-template-columns: 1fr 300px;
    border: 1px solid rgb(170, 170, 170);
    width: 95%;
    margin: 0 auto;
    background-color: #ffffff;
    height: 450px;
    text-align: center;
    margin-top: 18px;
}
.chat{
    display: grid;
    grid-template-rows: 60px 1fr 50px;
    border-left:1px solid rgb(170, 170, 170);
}
.config{
    border-bottom: 1px solid rgb(170, 170, 170);
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 25px;


}
.icons-chat{
    color: #3C4B64;

}

.mensaje{
   border-bottom: 1px solid rgb(170, 170, 170);
   
}

.foto{
    width: 70%;
    padding-top: 20px;
    text-align: center;
}

.video{
    display: grid;
    grid-template-rows: 60px 1fr 50px;
}

.hora{
    border-bottom: 1px solid rgb(170, 170, 170); 
}

.persona-video{
    border-bottom: 1px solid rgb(170, 170, 170); 


}
.opciones-video{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 25px;


}

.enviar{
    display: grid;
   grid-template-columns: 1fr 18px; 
   padding-right: 69px;
}

.icono-avion{
    padding-top: 10px;
    padding-left: 150px;
}

.form-col2{
    display: grid;
    grid-template-columns: minmax(100px,400px) minmax(100px,400px);
    column-gap:1em;
    justify-content: center;
    padding-top: 20px;
    row-gap: 1em;
    margin: 0 auto;

}

.col1-expan{
    width: 83%;
    margin: 0 auto;
    margin-top: 14px;
}
.boton1{
    float: right;
    margin-top: 17px;
    margin-right: 38px;
    font-size: 15px;
   
}
.content-center{
    text-align: center;
}

.filtro{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:1em;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 0 auto;
    
}

.nav-link{
    text-decoration:underline;
    background-color: transparent;
    color:#39f;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    border: 1px solid rgb(170, 170, 170);
    padding-top: 1px;
}

.form-col2-1 {
    display: grid;
    grid-template-columns: minmax(100px,450px) minmax(100px,450px);
    column-gap: 3em;
    padding-top: 10px;
    row-gap: 1em;
    margin: 0 auto;
nav li{
    text-align: center;
    display: inline-block;
    padding: 30px;
    margin:5px;
    font:bold 20px Copperplate;
}